

.card {
  font-family: $font-family-main;
  &__img{
    height: 22vw;
    border-radius: $card-border-radius;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  &__gradient{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
    border-radius: $card-border-radius;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
  }

  &__title{
    color: white;
    font-size: clamp(0rem, 1.2vw, 1rem);
    font-weight: $card-title-font-weight;
    max-width: $card-title-max-width;
    padding: 6%;
    height: 3em;
    line-height: 1.2em;
    font-family: $font-family-main;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .card {
    &__img{
      height: 245px;
    }

    &__title{
      font-size: 1.2rem;
      height: auto;
    }
  }
}
