@import '../../styles/utilities';

$min-width-logement: 800px;

.logement__host-infos-mobile{
    display: none;
}

.logement__header{
    margin: 0 7%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 2%;

    .logement__main-infos{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    @media screen and (max-width: $breakpoint-mobile) {
        gap: 0.7rem;;
}

        .logement__title{
            @include title-style;
            font-size: 2.3rem;
            width: 100%;
            @media screen and (max-width: $breakpoint-tab) {
                    font-size: 1.5rem;
            }
            @media screen and (max-width: $breakpoint-tab) {
                font-size: 1rem;
                line-height: 1.5rem;
        }
        }

        .logement__location{
            @include title-style;
            font-size: 3vh;
            @media screen and (max-width: $breakpoint-tab) {
                font-size: 1rem;
        }
        @media screen and (max-width: $breakpoint-tab) {
            font-size: 0.8rem;
    }
        }
    }
    .logement__host-infos-desktop{
        display: flex;
        flex-wrap: wrap;
        width: 20%;
        justify-content: flex-end;
        height: 100%;
        @media screen and (max-width: $breakpoint-mobile) {
                display: none;
            
    }

        .host__name{
            @include title-style;
            font-size: 1.2rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            padding-right: 5%;
            justify-content: center;
            align-items: flex-end;
        }

        .host__photo{
            width: 26%;
            border-radius: 50%;
            display: flex;
            flex-wrap: wrap;
            align-self: center;
        }
    }
}

.logement__tags-stars{
    margin: 0.5% 7%;;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        @media screen and (max-width: $breakpoint-mobile) {
            width: 100%;
            padding-bottom: 4%;
 
 
     } 
      
        .tag {
          background-color: $primary-color;
          color: white;
          height: 28px;
          border-radius: 11px;
          padding: 0 21px;
          min-width: 95px;
          font-size: 12px; 
          display: flex;
        justify-content: center;  
         align-items: center;
         @media screen and (max-width: $breakpoint-mobile) {
           height: 20px;
           border-radius: 5px;
           padding: 0 2px;
           min-width: 75px;
           font-size: 8px;


    }    
          }
      }
      .stars{
        @media screen and (max-width: $breakpoint-mobile) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
    }
      .star{
        width: 34px;
        @media screen and (max-width: $breakpoint-tab) {
            width: 20px;
    }
    @media screen and (max-width: $breakpoint-mobile) {
        width: 20px;
}
    }
}

    }

    .logement__description-equipment{
        margin: 0 7% 3% 7% ;
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        gap: 6%;

        @media screen and (max-width: $breakpoint-mobile){
            flex-direction: column;
        }

    }

    @media screen and (max-width: $breakpoint-mobile) {
        .logement__host-infos-mobile{
            display: flex;
            flex-wrap: wrap;
        justify-content: flex-end;
        height: 100%;
        .host__name{
            @include title-style;
            font-size: 0.8rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            padding-right: 5%;
            justify-content: center;
            align-items: flex-end;
        }

        .host__photo{
            width: 20%;
            border-radius: 50%;
            display: flex;
            flex-wrap: wrap;
            align-self: center;
        }
        }
        .logement__host-infos-desktop{
            display: none;
        }
}
