@import "../../styles/utilities.scss";

.collapse {
  width: 84%;
  margin: 1.2% 0;
  background-color: #F6F6F6;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  &__header {
    background-color: $primary-color;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem;
    border-radius: 10px;
    cursor: pointer;
  }

  &__icon {
    cursor: pointer;
    padding: 0 0.8rem;
    transition: transform 0.3s ease-in-out;
    &.rotated {
      transform: rotate(-180deg); 
    }
  }

  &__title {
    font-size: 1.2rem;
    font-weight: 400;
  }

  &__content {
    background-color: #F6F6F6;
    color: $primary-color;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    line-height: 1.5rem;
    font-weight: 300;
    font-size: 1.1rem;
    overflow: hidden;
    max-height: 1000px;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out; 
    padding: 5% 3%; 

    &.collapsed {
      max-height: 0; 
      padding: 0 3%; 
    }
    &.expanded {
      max-height: 150px; 
      padding: 2% 3%;
  }
}
  
  @media(max-width: $breakpoint-mobile) {
    width: 100%;
    margin: 3% 0;

    &__header {
      padding: 0.2rem;
      border-radius: 5px;
    }

    &__icon {
      width: 1.4rem;
    }
    
    &__title {
      font-size: 0.8rem;
      padding-left: 0.4rem;
    }
    
    &__content {
      font-size: 0.7rem;
      line-height: 1rem;
      padding: 1rem;
      
      &.collapsed {
        padding: 0; 
      }
    }
  }
}
